[Desktop Entry]
Name[en_US]=Mac Rambo
Comment[en_US]=Apple ⌘ commando key enabler
Exec=./macrambo-enable.sh
Icon=macrambo
X-GNOME-Autostart-enabled=true
Type=Application
